---
import MainLayout from '../../layouts/MainLayout.astro';
import { posts } from '../../assets/posts.js';
export function getStaticPaths() {
  return [
    {params: {post: 1}},
    {params: {post: 2}},
    {params: {post: 3}},
    {params: {post: 4}},
  ];
}
const { post } = Astro.params;
const currentPost = posts.filter(p => String(p.id) == post);
---

<MainLayout>
  {
    currentPost ? 
      <div>
        <h1>{currentPost[0].title}</h1>
        <div class="post-content" set:html={currentPost[0].content} />
        <a href="/"><button>&#8592; Back to feed</button></a>
      </div> : 
      <div>
        <p>No posts found...</p>
        <a href="/"><button>&#8592; Back to feed</button></a>
      </div>
  }
</MainLayout>