---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout>
  <h1>About Stuff</h1>

  <div id="faux-image"></div>

  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quam quisque id diam vel quam. Ac turpis egestas integer eget aliquet nibh praesent. Facilisis sed odio morbi quis commodo. Risus quis varius quam quisque. In fermentum et sollicitudin ac orci phasellus egestas tellus rutrum. Ipsum faucibus vitae aliquet nec ullamcorper sit amet risus. Aliquam vestibulum morbi blandit cursus. Aliquet porttitor lacus luctus accumsan tortor posuere ac ut. A erat nam at lectus urna duis. Viverra ipsum nunc aliquet bibendum enim facilisis gravida neque convallis. Facilisis leo vel fringilla est ullamcorper. Neque egestas congue quisque egestas diam in arcu cursus euismod. Malesuada nunc vel risus commodo viverra maecenas. Enim nulla aliquet porttitor lacus luctus accumsan tortor. Amet mattis vulputate enim nulla. Facilisis gravida neque convallis a cras semper auctor neque vitae. Dui vivamus arcu felis bibendum ut tristique. Sagittis nisl rhoncus mattis rhoncus. Aliquam nulla facilisi cras fermentum odio eu feugiat pretium nibh.</p>

  <p>Lectus mauris ultrices eros in cursus turpis. Auctor neque vitae tempus quam pellentesque nec nam. Vitae auctor eu augue ut lectus arcu bibendum at varius. Pellentesque adipiscing commodo elit at imperdiet dui. Sit amet consectetur adipiscing elit pellentesque habitant morbi tristique senectus. Ornare massa eget egestas purus viverra. Tempor id eu nisl nunc mi ipsum faucibus vitae. Leo vel fringilla est ullamcorper eget. Nunc id cursus metus aliquam eleifend mi in. Magna fermentum iaculis eu non diam. Elementum curabitur vitae nunc sed velit dignissim sodales ut eu. A cras semper auctor neque vitae. Ultrices gravida dictum fusce ut. Scelerisque fermentum dui faucibus in ornare.</p>

  <p>Amet est placerat in egestas erat imperdiet sed euismod. Mus mauris vitae ultricies leo integer malesuada nunc vel. In fermentum et sollicitudin ac. Ut diam quam nulla porttitor massa id neque aliquam. Adipiscing elit duis tristique sollicitudin nibh sit amet commodo nulla. Urna porttitor rhoncus dolor purus non enim. Est ultricies integer quis auctor elit sed vulputate mi sit. Habitant morbi tristique senectus et netus et. Eu feugiat pretium nibh ipsum consequat nisl vel. Et tortor at risus viverra adipiscing at in tellus.</p>

  <hr />

  <h2>More Stuff</h2>

  <p>Adipiscing elit ut aliquam purus. Nec nam aliquam sem et tortor. Id velit ut tortor pretium viverra suspendisse potenti nullam ac. Imperdiet proin fermentum leo vel orci porta non. Congue nisi vitae suscipit tellus mauris a diam. Et ligula ullamcorper malesuada proin libero nunc consequat interdum varius. Eu sem integer vitae justo eget magna fermentum iaculis. Amet porttitor eget dolor morbi non arcu risus quis. Interdum velit euismod in pellentesque massa placerat duis. Etiam sit amet nisl purus in.</p>

  <p>Ultrices eros in cursus turpis massa. Vulputate enim nulla aliquet porttitor lacus luctus accumsan tortor posuere. Quisque non tellus orci ac auctor augue mauris augue. Vulputate eu scelerisque felis imperdiet proin fermentum leo vel. Pellentesque eu tincidunt tortor aliquam nulla facilisi. Ac feugiat sed lectus vestibulum mattis ullamcorper velit sed ullamcorper. Mi tempus imperdiet nulla malesuada. Sit amet facilisis magna etiam tempor orci eu lobortis. Egestas quis ipsum suspendisse ultrices gravida dictum fusce ut placerat. Commodo sed egestas egestas fringilla. Odio pellentesque diam volutpat commodo sed egestas egestas fringilla phasellus. Ut consequat semper viverra nam libero justo laoreet.</p>
</MainLayout>

<style>
  #faux-image {
    width: min(100%, 325px);
    aspect-ratio: 1 / 1;
    border: 3px solid #222;
    background-color: #eee;
    float: right;
    margin-left: 2rem;
  }
</style>