---
import MainLayout from "../layouts/MainLayout.astro";
import BlogFeed from "../components/BlogFeed.astro";
import Svelte from "../components/svelte/Svelte.svelte";
import ReactComponent from "../components/react/React.jsx";
---

<MainLayout>
	<h1>Feed</h1>
	<BlogFeed />
	
	<Svelte />
	<ReactComponent />
</MainLayout>
