---
// import posts from '../assets/posts.json';
import { posts } from '../assets/posts.js';
import Tags from './react/Tags.jsx';

let activeCategories = [];

const categories = new Set();
posts.forEach(post => {
  post.categories.forEach(category => categories.add(category));
})
---


<Tags client:load categories={[...categories]} />

{
  activeCategories.length === 0 ? posts.map(post => {
    return (
      <a href={`/posts/${post.id}`}>
        <div class="post" class:list={...post.categories} >
          <h2>{post.title}</h2>
          <div class="post-content" set:html={post.content.length > 200 ? post.content.substring(0, 200) + '...' : post.content} />
        </div>
      </a>
    )
    
  }) : 
  posts.map(post => {
    return (
      <a href={`/posts/${post.id}`}>
        <div class="post" class:list={...post.categories} >
          <h2>{post.title}</h2>
          <div class="post-content" set:html={post.content.length > 200 ? post.content.substring(0, 200) + '...' : post.content} />
        </div>
      </a>
    )
  })
}

<style lang="scss">
  #categories {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }
  a {
    text-decoration: none;
    color: #000;
  }
  .post {
    box-shadow: 6px 10px 16px rgb(0 0 0 / 0.15);
    border-radius: 0.5rem;
    margin-bottom:1.5rem;
    padding: 1rem;
    transition: scale 0.5s ease;
  }
  .post:hover {
    scale: 1.025;
  }
</style>